MACHINE_LEARNING_CACHE_FOLDER=/Volumes/SKHynix/immich-ml-cache
MACHINE_LEARNING_MODEL_TTL=0
MACHINE_LEARNING_PROVIDERS__OCR=CPUExecutionProvider
MACHINE_LEARNING_PROVIDERS__FACIAL_RECOGNITION=CoreMLExecutionProvider,CPUExecutionProvider
MACHINE_LEARNING_COREML_RETRY_CPU_ON_FAILURE=true
IMMICH_LOG_LEVEL=debug
IMMICH_HOST=0.0.0.0
IMMICH_PORT=3003
